<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="edit_container">
    <div class="center">
      <div class="field2">
        <strong><%= form.label :title %></strong>
        <%= form.text_field :title, id: :task_title, :autocomplete => :off %>
      </div>
      <br>
      <div class="field">
        <strong><%= form.label :content %></strong>
        <%= form.text_area :content, size: "60x15", id: :task_content %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
