<h1>All tasks | <%= link_to 'New Task', new_task_path %></h1>
<p id="notice"><%= notice %></p>
<% @tasks.each do |task| %>
  <div>
    <h2 class="center"><%= task.title %></h2>
    <div id="container">
      <%= simple_format(truncate(task.content, :length => 60)) %>
    </div>
    <p class="center"><%= link_to 'Show', task %> |
    <%= link_to 'Edit', edit_task_path(task) %> |
    <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>
<% end %>
  </div>