<div class="wrapper">
  <p id="notice"><%= notice %></p>
  <div class="center">
    <div id="container">
      <p>
        <strong>User ID:</strong>
        <%= @user.id %>
      </p>
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Tasks number:</strong>
        <%= @user.tasks.count() %>
      </p>
    </div>
    <br>
    <%= link_to 'Edit User', edit_user_registration_path %> 
    <%#= link_to 'Back', @user %>
  </div>
  <br>
  <h2 class="center">Tasks | <%= link_to 'New Task', new_task_path %></h2>
  <br>

  <% if @user.tasks.any? %>
    <% @user.tasks.each do |task| %>

      <div id="content_container">
        <h3>
          <strong>
            <%= task.title %>
          </strong>
        </h3>
        <%= simple_format(task.content) %>

        <div id="op_container">
          <ul>
            <li><%= link_to 'Show', task %></li>
            <li><%= link_to 'Edit', edit_task_path(task) %></li>
            <li><%= link_to "Delete", task, method: :delete, data: { confirm: "Are you sure?" } %></li>
          </ul> 
      </div>

      </div>      

    <% end %>
  <% else %>
    <p class="center">No task found</p>
  <% end %>

</div>